In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'iframe'
data = pd.read_csv("Billionaire.csv")

In [ ]:
data.head()

In [ ]:
data.describe()
#data.isnull().sum()
#data.dtypes

In [ ]:
data["NetWorth"] = data.NetWorth.apply(lambda x:str(x).replace("$",""))
data

In [ ]:
data["NetWorth"] = data.NetWorth.apply(lambda x:str(x).replace("B",""))
data["NetWorth"] = data.NetWorth.apply(lambda x:str(x).replace(" ",""))
data["NetWorth"] = data.NetWorth.apply(lambda x:float(x))

In [ ]:
data.dtypes

In [ ]:
data.NetWorth.sum()

In [ ]:
data.NetWorth.describe()

In [ ]:
x = data.groupby("Name").NetWorth.sum().sort_values(ascending=False).head(20)
x

In [ ]:
datax = data[data["Rank"]<20]
datax

In [ ]:
ax= px.bar(datax,x= "NetWorth",y= "Name",color= "NetWorth",labels= {"NetWorth":"Networth(in Billions)"},template= "plotly_dark")
ax.show()

In [ ]:
x = data.groupby("Country").NetWorth.sum().sort_values(ascending=False).head(20).to_frame().reset_index()
ax= px.bar(x,x= "NetWorth",y= "Country",color= "NetWorth",labels= {"NetWorth":"Total value(in Billions)"},template= "plotly_dark")
# ax = px.bar(x, x= "NetWorth",y="Country", color= "NetWorth",labels={"NetWorth": "Total value in Billions"},template="plotly_dark")
ax.show()

In [ ]:
data.Country.value_counts().head(20)

In [ ]:
#Tree map representing most number of Billionaires
ax= px.treemap(data,path=["Country"],template= "plotly_dark")
ax.show()

In [ ]:
data.groupby("Source").NetWorth.sum().sort_values(ascending=False).head(20)

In [ ]:
#Top sources of Billionaires
x= data.groupby("Source").NetWorth.sum().sort_values(ascending= False).head(20).to_frame().reset_index()
ax= px.bar(x,x= "NetWorth",y= "Source",color= "NetWorth",labels= {"NetWorth":"Total value(in Billions)"},template= "plotly_dark")
ax.show()

In [ ]:
data.groupby("Source").NetWorth.sum().sort_values(ascending=False).head(20)

In [ ]:
#Tree map representing count of billionaires per source
ax= px.treemap(data,path=["Source"],template= "plotly_dark")
ax.show()

In [ ]:
x = data[data["Country"]=="India"]

In [ ]:
len(x)

In [ ]:
x.NetWorth.sum()

In [ ]:
x.groupby("Name").NetWorth.sum().sort_values(ascending=False).head(20)

In [ ]:
dx= x.groupby("Name").NetWorth.sum().sort_values(ascending= False).head(20).to_frame().reset_index()
ax = px.pie(dx,names="Name",values="NetWorth")
ax.show()

In [ ]:
ax = px.treemap(x,path=["Source"],template="plotly_dark")
ax.show()
x

In [ ]:
x.Source.value_counts().head(10)

"""
Final Conclusions:

-2755 number of billionaires with 13 trillion dollars of net worth

-Jeff Bezos and Elon Musk are richest on the planet

-USA and China produce most number of billionaires and also total values

-USA alone has 724 Billionaires contributing more than 4 Trillion dollars of networth

-Real Estate and diversified sources contribute to the highest value of in terms of sources followed by Investments

-140 Billionaires in India

-Mukesh Ambani richest in India(84.5 Billion dollars)

-pharmaceuticals and consumer goods are the top sources in India

Inspired from Richie Rich - kaggle

"""